<footer class="bg-darker-light text-center container-fluid py-4 footer">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">&copy; Copyright 2017 HackUTA</div>
    <div class="col-md-4 icons">
      <a href="mailto:{{site.email}}"><i class="fa fa-envelope"></i></a>
      <a href="{{site.facebook_url}}" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="{{site.twitter_url}}" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="{{site.github_url}}" target="_blank"><i class="fa fa-github"></i></a>
    </div>
  </div>
</footer>