<section id="main-cover" class="cover">
  <div id="particles-js"></div>
  <div class="cover-content">
    <h1>Hack<strong>UTA</strong></h1>
    <div class="cover-date">
      April 15 - 16, 2017
    </div>
    <div class="cover-buttons">
      <a href="#" class="btn btn-lg">Register</a>
      <a href="#" class="btn btn-lg">Volunteer</a>
      <a href="#" class="btn btn-lg">Sponsor</a>
    </div>

    <div class="cover-contact">
      contact us at <a href="mailto:hello@hackuta.com">hello@hackuta.com</a>
    </div>
  </div>
</section>