<section id="intro" class="bg-darker-light text-center container-fluid py-4">

  <div class="container">

    <div class="header">
      <h2>UTA's first 24-hour hackathon</h2>
    </div>

    <div class="para-info">
      <p>
        HackUTA is The University of Texas at Arlington's first ever 24-hour hackathon, hosted by UTA students.
        It will take place in <a href="https://www.google.com/maps/place/E.H.+Hereford+University+Center/@32.7316535,-97.1109979,15z/data=!4m5!3m4!1s0x0:0x5324ba2efc73cfd2!8m2!3d32.7316535!4d-97.1109979" target="_blank">University Center</a> on the weekend of <a href="#schedule-and-location">September 30th and October 1st</a>.
        All skill levels are welcome, so come learn, collaborate, hack, and have fun!
      </p>
    </div>

  </div>
</section>
