<section class="bg-darker-light text-center container-fluid pb-4">
  <h2>UTA's first 24 hour hackathon</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus risus neque, consectetur vel dui nec, maximus maximus neque. Phasellus ultricies, dui a cursus consectetur, dolor augue mollis nulla, posuere faucibus erat lectus a justo. Suspendisse tristique eros ante, nec consequat quam blandit laoreet. Sed ante lacus, volutpat vitae quam id, commodo mattis justo. Sed orci lorem, vehicula id euismod in, semper id elit. Nam blandit eget nibh vitae rhoncus. Vestibulum vel viverra lacus, non gravida felis. Nullam ultricies, nisl a vulputate volutpat, felis nibh bibendum libero, eget vestibulum lacus ante vel sem. Aenean euismod, libero eu consectetur tristique, sapien mi rutrum augue, nec faucibus dolor urna sed quam. Integer quis mauris non nibh accumsan sodales at eget urna.
  </p>
</section>