<section id="intro" class="bg-darker-light text-center container-fluid py-3">

  <div class="container">

    <div class="header">
      <h2>UTA's first 24 hour hackathon</h2>  
    </div>
    
    <div class="para-info">
      <p>
        HackUTA is University of Texas at Arlingtons's first ever 24 hour hackathon, hosted by Mobi. 
        The event will take place in Nedderman Hall on April 15th - 16th. HackUTA is more than just 
        software, it's getting together to innovate, work with others and create something cool in 
        24 hours.
      </p>
      <p>
        What's a hack? Projects range from VR Flappy Bird, to IOT sticker vending machines, to 
        an app that uses machine learning to create a song. This all sounds fancy but even a simple 
        website to help fight hunger is considered a hack!
      </p>
    </div>

  </div>
</section>