<section class="bg-darker-light container-fluid">
  <a name="schedule-and-location"></a>
  <div class="container py-3">
    <div class="row">
      <div class="col-md-12 text-center schedule-location">
        <h2>Schedule and Location</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include schedule.html %}
      </div>

      <div class="col-md-6">
      	<div id="hacklocation" class="text-center">
      		<p>
      			E.H. Hereford University Center<br />
            300 W First St<br />
      			Arlington, TX 76010
      		</p>
      		<div class="map">
      			<a href="https://www.google.com/maps/place/E.H.+Hereford+University+Center/@32.7316535,-97.1109979,15z/data=!4m5!3m4!1s0x0:0x5324ba2efc73cfd2!8m2!3d32.7316535!4d-97.1109979" target="_blank"><img src="https://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C300+W+First+St,+Arlington,+TX+76010&key=AIzaSyCGjeXX-s7K_4iGO2yGP2Ex1x_n_Jhec7k" alt="Google Map of E.H. Hereford University Center"></a>
      		</div>
      	</div>
      </div>
    </div>
  </div>
</section>
