<div id="schedule">
		<h2 class="text-center mb-4">Schedule</h2>
		<div>
  			<h4>Saturday (September 30)</h4>
  			<p>
        09:30 am: Checkin<br/>
        11:00 am: Opening Ceremony<br/>
        12:00 pm: Hacking beings<br/>
        12:30 pm: Lunch<br/>
        06:30 pm: Dinner
        </p>
        <h4>Sunday (October 1)</h4>
        <p>
          12:00 am: Midnight snack<br/>
          07:00 am: Breakfast<br/>
          12:00 pm: Hacking ends &amp; Lunch<br/>
          01:00 pm: Showcase and Judging<br/>
          02:30 pm: Closing Ceremony<br/>
          02:45 pm: Final Judging<br/>
          03:30 pm: HackUTA Ends<br/>
        </p>
		</div>
	</div>
