<div id="schedule">
		<div>
				<h4>Will be updated soon!</h4>
				
  			<h4>Saturday (September 28)</h4>
  			<p>
        <strong>09:30 am:</strong> Check-in begins<br/>
        <strong>11:00 am:</strong> Opening Ceremony<br/>
        <strong>12:00 pm:</strong> Hacking begins/Team building (1 hr)<br/>
        <strong>12:30 pm:</strong> Lunch/Team Building<br/>
<!--
		<strong>01:00 pm:</strong> Life as an Engineer (45 minutes) - AllState<br/>
		<strong>02:00 pm:</strong> Intro to iOS (1 hr) - Make School<br/>
		<strong>03:00 pm:</strong> webRTC (1 hr) - AllState<br/>
		<strong>04:30 pm:</strong> Machine Learning (1 hr) - AllState<br/>
		<strong>05:30 pm:</strong> Technical Interview (1 hr) - Google<br/>
-->
        <strong>06:30 pm: </strong> Dinner<br />
	<strong>08:00 pm: </strong> Cup Stacking<br />
        </p>
        <h4>Sunday (September 29)</h4>
        <p>
          <strong>12:00 am:</strong> Midnight Snack<br/>
          <strong>08:30 am:</strong> Breakfast<br/>
          <strong>12:00 pm:</strong> Hacking ends/Lunch<br/>
          <strong>01:00 pm:</strong> Showcase/Judging<br/>
          <strong>02:30 pm:</strong> Closing Ceremony<br/>
          <strong>04:00 pm:</strong> HackUTA ends<br/>
        </p>
				
		</div>
	</div>
