<div id="schedule">
		<h2 class="text-center mb-4">Schedule</h2>
		<div>
				<h4>Friday</h4>
				<p>05:00 pm: Small setup and preparation for the event next morning</p>
  			<h4>Saturday</h4>
  			<p>
        09:30 am: Checkin<br/>
        11:00 am: Opening Ceremony<br/>
        12:00 pm: Hacking beings<br/>
        12:30 pm: Lunch<br/>
        06:30 pm: Dinner
        </p>
        <h4>Sunday</h4>
        <p>
          12:00 am: Midnight snack<br/>
          07:00 am: Breakfast<br/>
          12:00 pm: Hacking ends &amp; Lunch<br/>
          01:00 pm: Showcase and Judging (Try to avoid flipping)<br/>
          02:30 pm: Closing Ceremony Begins<br/>
          02:45 pm: Final judging (Top 7 groups will have 5 minutes present their project)<br/>
          03:30 pm: Awards/Closing Ceremony Ends<br/>
          05:00 pm: Cleanup (Only volunteers should be here by this time)
        </p>
		</div>
	</div>
