<section class="container text-center py-4 sponsor-container">
  <h2 style="font-size: 3.2em;">Sponsors</h2>
  <p>
    HackUTA's vision is to give back to the community and help spread
    innovation and creativity though students. If you'd like to be part
    of this movement, we'd love to have you sponsor!
  </p>
  <div>
    <a href="mailto:{{site.email}}" class="btn btn-primary">Sponsor Us</a>
    <a href="{{site.sponsor_url}}" target="_blank" class="btn btn-primary">Learn More</a>
  </div>

  <hr />
  <h2>Partners</h2>
  <div class="partners">
    <div class="row">
      <div class="col-4 col-md-3 offset-2 offset-md-3">
        <img src="/img/mobilogo.png" alt="" class="img-fluid">
      </div>
      <div class="col-4 col-md-3">
        <img src="/img/lug_logo.png" alt="" class="img-fluid">
      </div>
    </div>
	<div class="row">
      <div class="col-8 offset-2 col-md-6 offset-md-3">
        <img src="/img/SEDSUTA_CentaurusA_v2.png" class="img-fluid" style="width: 300px;">
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-2 col-md-6 offset-md-3">
        <img src="https://cse.uta.edu/_images/logos/CSE_tshirtdesign_Sebastian_Klingler.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>
